<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.va_labs.vae"
   name="Visual Ant Editor Plug-in"
   version="0.0.1"
   provider-name="Vicken Amine labs">
   
   <runtime>
      <library name="vae.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <extension
         id="RcpVae"
         point="org.eclipse.core.runtime.applications">
         <application>
	         <run class="org.va_labs.vae.RcpVae" />
	     </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
         <perspective 
         	id="org.va_labs.vae.gui.RcpPerspective"
         	name="Vae"
         	class="org.va_labs.vae.gui.RcpPerspective" />
   </extension>
   <extension
   		point="org.eclipse.ui.views">
   		<category name="Vae" id="org.va_labs.vae.gui.views" />
   		<view 
   			name="Data Tree"
   			category="org.va_labs.vae.gui.views"
   			class="org.va_labs.vae.gui.view.datatree.DataTreeView"
   			id="org.va_labs.vae.gui.view.datatree.DataTreeView" />
   		<view 
   			name="Data Information"
   			category="org.va_labs.vae.gui.views"
   			class="org.va_labs.vae.gui.view.datainfo.DataInfoView"
   			id="org.va_labs.vae.gui.view.datainfo.DataInfoView" />
   		<view
   			name="Graphical Representation"
   			category="org.va_labs.vae.gui.views"
   			class="org.va_labs.vae.gui.view.graphicalrepresentation.GraphicalView"
   			id="org.va_labs.vae.gui.view.graphicalrepresentation.GraphicalView" />
   	</extension>
</plugin>
